# Twitch Credentials
# Get your OLED token from https://twitchapps.com/tmi/
TWITCH_OAUTH_TOKEN=oauth:your_token_here
TWITCH_CLIENT_ID=your_client_id_here
TWITCH_BOT_USERNAME=your_bot_username
TWITCH_CHANNEL_NAME=channel_to_join
